<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="yimdo.serverConfig.security.mapper.SecurityMapper">

	<resultMap id="UserVoMap" type="UserVo">
        <result property="userId" 					column="USER_ID"/>
        <result property="password" 				column="PASSWORD"/>
        <result property="authorityId" 				column="AUTHORITY_ID"/>
        <result property="isAccountNonExpired" 		column="IS_ACCOUNT_NON_EXPIRED"/>
        <result property="isAccountNonLocked" 		column="IS_ACCOUNT_NON_LOCKED"/>
        <result property="isCredentialsNonExpired" 	column="IS_CREDENTIALS_NON_EXPIRED"/>
        <result property="isEnabled" 				column="IS_ENABLED"/>
    </resultMap>

	<resultMap id="UserDetailVoMap" type="UserDetailVo">
        <result property="userId" 					column="USER_ID"/>
        <result property="userNm" 					column="USER_NM"/>
        <result property="mbtlNum" 					column="MBTLNUM"/>
        <result property="carNumber" 				column="CAR_NUMBER"/>
        <result property="affiliation" 				column="AFFILIATION"/>
        <result property="email" 					column="EMAIL"/>
    </resultMap>
	
	<select id="getUserByIdForLogin" resultMap="UserVoMap">
		SELECT 
			USER_ID,
			PASSWORD,
			AUTHORITY_ID,
			IS_ACCOUNT_NON_EXPIRED,
			IS_ACCOUNT_NON_LOCKED,
			IS_CREDENTIALS_NON_EXPIRED,
			IS_ENABLED
		FROM 
			I_USER 
		WHERE 
			USER_ID = BINARY #{userId} 
	</select>
	
	<insert id="createAccount">
		INSERT INTO
			I_USER
			(
				USER_ID
				, PASSWORD
				, AUTHORITY_ID
			)
			VALUES
			(
				#{userId}
				, #{userPw}
				, #{authorityId}
			)
	</insert>
	
	<select id="getUserDetailById" resultMap="UserDetailVoMap">
		SELECT 
			USER_ID,
			USER_NM,
			MBTLNUM,
			CAR_NUMBER,
			AFFILIATION,
			EMAIL
		FROM
			I_USER 
		WHERE 
			USER_ID = BINARY #{userId} 
	</select>
	
</mapper>