<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta th:replace="~{/common/head :: commonMeta}">
	<title th:replace="~{/common/head :: commonTitle}"></title>
	<link th:replace="~{/common/head :: icon}">
	
	<link rel="stylesheet" th:href="@{/css/user/css/font.css}">
	<link rel="stylesheet" th:href="@{/css/user/css/default.css}">
	<link rel="stylesheet" th:href="@{/css/user/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/user/css/layout.css}">
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrap">
        <div class="yim_direct">
            <div class="yim_direct_inner">
                <div class="yim_direct_con">
                    <p class="yim_direct_txt01 mb10">환영합니다.</p>
                    <p class="yim_direct_txt02 mb20"><span class="customer_name"><p></p>]${userDetailVo.userNm}</span>님</p>
                    <p class="yim_direct_txt03 mb20">스마트 임도 차단기 시스템을 이용하시기 위하여<br/>임도 출입 신청을 작성해주세요.</p>
                    <div class="respon_box">
                        <a href="/member/accessYimdo.do" class="direct_btn mr15" title="임도 출입 신청 바로가기"><p>임도 출입 신청<br/><span class="direct_arrow">바로가기</span></p></a>
                        <a href="#none" class="direct_btn gr_c_orange mr15" title="임도 개방 버튼" onclick="fetch_breakerRequest(); return false;"><p>임도 개방<br/><span class="direct_arrow">버튼</span></p></a>
                    </div>
                    <!-- 로그아웃버튼 시작 -->
                    <div class="logout_box">
                        <button class="logout_btn" title="로그아웃" onclick="location.href='/general/logout.do'"><span>로그아웃</span></button>
                    </div>
                    <!-- 로그아웃버튼 끝 -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>