@font-face {
    font-family: 'SC';
    src: url('../fonts/S-CoreDream-1Thin.woff2') format('woff2'),
         url('../fonts/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/S-CoreDream-2ExtraLight.woff2') format('woff2'),
         url('../fonts/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/S-CoreDream-3Light.woff2') format('woff2'),
         url('../fonts/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/S-CoreDream-4Regular.woff2') format('woff2'),
         url('../fonts/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/S-CoreDream-5Medium.woff2') format('woff2'),
         url('../fonts/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/S-CoreDream-6Bold.woff2') format('woff2'),
         url('../fonts/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/scdream7-webfont.woff2') format('woff2'),
         url('../fonts/scdream7-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/scdream8-webfont.woff2') format('woff2'),
         url('../fonts/scdream8-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SC';
    src: url('../fonts/scdream9-webfont.woff2') format('woff2'),
         url('../fonts/scdream9-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}